In [67]:
import numpy as np
import pandas as pd 
import math
import sys
import csv

In [68]:
pk = pd.read_csv("pokemon.csv")

In [69]:
pk = pk.drop_duplicates(subset='id')

In [70]:
pk.reset_index()

,index,id,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,img_scr
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,images/bulbasaur.png
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,images/ivysaur.png
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,images/venusaur.png
3,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,images/charmander.png
4,5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,images/charmeleon.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,NaN
717,794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,NaN
718,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN
719,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN
720,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN

In [71]:
def putfirst(df, i):
    return df.iloc[(np.arange(len(df)) != i).argsort()]

In [82]:
df = pk[pk['Name'].str.contains('Rayquaza')]
print(df.id)

425    384
Name: id, dtype: int64

In [73]:
pk['Type_1'].value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type_1, dtype: int64

In [74]:
stat = pd.DataFrame(pk[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']])

In [75]:
stat

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0     45      49       49       65       65     45
1     60      62       63       80       80     60
2     80      82       83      100      100     80
4     39      52       43       60       50     65
5     58      64       58       80       65     80
..   ...     ...      ...      ...      ...    ...
793  126     131       95      131       98     99
794  108     100      121       81       95     95
795   50     100      150      100      150     50
797   80     110       60      150      130     70
799   80     110      120      130       90     70

[721 rows x 6 columns]

In [76]:
def cal_distance(x):      
    a = x.to_numpy()
    b = stat.to_numpy()    
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b[0])]))
    return distance

In [83]:
pk['distance'] = pk[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].apply(cal_distance,args=df.id)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [78]:
pk_sort = pk.sort_values('distance',ascending=True)

In [79]:
pk_after_sort = pk_sort

In [80]:
pk_after_sort.reset_index()

,index,id,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,img_scr,distance
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,images/bulbasaur.png,0.000000
1,643,582,Vanillite,Ice,NaN,305,36,50,50,65,60,44,5,False,NaN,10.440307
2,438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False,NaN,14.352700
3,762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,NaN,16.248077
4,294,271,Lombre,Water,Grass,340,60,50,50,60,70,50,3,False,NaN,17.378147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,NaN,169.416646
717,313,289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,NaN,172.835182
718,121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,NaN,220.049994
719,261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,NaN,228.565089
720,230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,NaN,258.373760

In [81]:
pk_after_sort.iloc[1]

id                  582
Name          Vanillite
Type_1              Ice
Type_2              NaN
Total               305
HP                   36
Attack               50
Defense              50
Sp. Atk              65
Sp. Def              60
Speed                44
Generation            5
Legendary         False
img_scr             NaN
distance      10.440307
Name: 643, dtype: object